body {
    background-color: black;
    color: lime;
    padding: 3rem;
    font-size: larger;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input {
    display: block;
    margin: 1rem 0;
    padding: 1rem;
}

button {
    margin: 1rem 0;
    padding: 1rem;
    font-size: large;
    background-color: lime;
    font-weight: 600;
}
