body {
    background-color: black;
    color: lime;
    padding: 5rem 0;
    font-size: larger;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

div {
    padding-top: 4rem;
}
input {
    display: block;
    margin: 1rem auto;
    padding: 1rem;
}

button {
    margin: 1rem auto;
    padding: 1rem;
    font-size: large;
    background-color: lime;
    font-weight: 600;
}
